API - DATA

test

In [109]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import json

%matplotlib inline

In [110]:
# Load .env enviroment variables
load_dotenv()

True

In [111]:
# Current amount of shares
my_gld = 1
my_bar = 1
my_ugl = 1
my_dbp = 1

shares_data = {
    
    "Shares": [1, 1, 1, 1]
}

#set the tickers
tickers = ["GLD", "BAR", "UGL", "DBP"]

# Display sample data
df_Shares = pd.DataFrame(shares_data, index=tickers)

# Display shares data
df_Shares

     Shares
GLD       1
BAR       1
UGL       1
DBP       1

In [112]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")
alpaca

In [113]:
 # Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [114]:
# Format current date as ISO format
start = pd.Timestamp("2020-07-10", tz="America/New_York").isoformat()
end = pd.Timestamp("2021-07-10", tz="America/New_York").isoformat()

# Set the tickers
tickers = ["GLD", "BAR", "UGL", "DBP"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

In [115]:
# Get current closing prices for SPY and AGG
df_portfolio = alpaca.get_barset(
    tickers,
    timeframe,
    start = start,
    end = end
).df

# Preview DataFrame
df_portfolio.tail(1)

                             BAR                                  DBP        \
                            open  high      low  close  volume   open  high
time
2021-07-09 00:00:00-04:00  17.92  18.0  17.9019  17.96  293683  49.78  50.2

                                                  GLD                         \
                             low close volume    open    high     low  close
time
2021-07-09 00:00:00-04:00  49.78  50.1   7874  168.84  169.62  168.66  169.2

                                      UGL
                            volume   open   high     low  close volume
time
2021-07-09 00:00:00-04:00  4619133  59.38  59.95  59.279  59.67  75157

In [116]:
# export dataframe as a CSV
df = pd.DataFrame(df_portfolio)

In [117]:
df.to_csv(r'.\Output\gold_data_one_year_data.csv', index = False)

In [118]:
# Pick AGG and SPY close prices
df_closing_prices = pd.DataFrame()

# fetch closing prices
df_closing_prices["GLD"] = df_portfolio["GLD"]["close"]
df_closing_prices["BAR"] = df_portfolio["BAR"]["close"]
df_closing_prices["UGL"] = df_portfolio["UGL"]["close"]
df_closing_prices["DBP"] = df_portfolio["DBP"]["close"]


# Drop the time component of the date
df_closing_prices.index = df_closing_prices.index.date

# Display sample data
df_closing_prices.tail()

               GLD     BAR    UGL      DBP
2021-07-02  167.32  17.760  58.32  49.8600
2021-07-06  168.12  17.850  58.95  49.7600
2021-07-07  168.78  17.905  59.38  49.9500
2021-07-08  168.67  17.900  59.30  49.7799
2021-07-09  169.20  17.960  59.67  50.1000

In [119]:
# Compute the current value of shares
gld_close_price = df_closing_prices["GLD"][0]
bar_close_price = df_closing_prices["BAR"][0]
ugl_close_price = df_closing_prices["UGL"][0]
dbp_close_price = df_closing_prices["DBP"][0]

my_gld_value = my_gld * gld_close_price
my_bar_value = my_bar * bar_close_price
my_ugl_value = my_ugl * ugl_close_price
my_dbp_value = my_dbp * dbp_close_price

# Print the current value of shares
print(f"The current value of your {my_gld} GLD shares is: ${my_gld_value:0.2f}")
print(f"The current value of your {my_bar} GLD shares is: ${my_bar_value:0.2f}")
print(f"The current value of your {my_ugl} GLD shares is: ${my_ugl_value:0.2f}")
print(f"The current value of your {my_dbp} GLD shares is: ${my_dbp_value:0.2f}")

The current value of your 1 GLD shares is: $166.32
The current value of your 1 GLD shares is: $17.64
The current value of your 1 GLD shares is: $58.54
The current value of your 1 GLD shares is: $50.05